venv
myv
myvirtualenvironment
myvirtualenv
venv/
myv/
myvirtualenvironment/
myvirtualenv/
.venv
.myv
.myvirtualenvironment
.myvirtualenv
./venv
./myv
./myvirtualenvironment
./myvirtualenv
env
.env
env.local
.env.local
__pycache__/
*.py[cod]
*$py.class

